@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
  font-size: medium;
  align-items: center;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

main {
  padding: 15px;
}

.pokemon-card {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #896;
  border-radius: 7px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}
